<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head >
    <title>Création d'un Trajet - Trajet Facile</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="/css/application.css" th:href="@{/css/application.css}"/>
    <link rel="stylesheet" type="text/css" media="all"
          href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css"/>
    <link rel="stylesheet" type="text/css" media="all"
          href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
</head>

    <body>
    <div th:replace="layout :: navbarFragment"></div>
    <section class="section">
    <div class="container">
        <form action="#" th:action="@{/ride}" th:object="${rideCreateForm}" method="post">
           
            <table>
               
                <tr>
                    <td>Depart :</td>
                    <td><input type="text" th:field="*{lieuDepart}" /></td>
                    
                    
                    <td th:if="${#fields.hasErrors('lieuDepart')}" th:errors="*{lieuDepart}">email Error</td>
                </tr>
                
                 <tr>
                    <td>Arrive :</td>
                    <td><input type="text" th:field="*{lieuArrive}" /></td>
                    
                    
                    <td th:if="${#fields.hasErrors('lieuArrive')}" th:errors="*{lieuArrive}">email Error</td>
                </tr>
                <tr>
                    <td>Jour de depart</td>
                    <td><input type="date" th:field="*{jourDepart}" /></td>
                    <td th:if="${#fields.hasErrors('jourDepart')}" th:errors="jourDepart">password Error</td>
                </tr>
                
                <tr>
                    <td>Heure  depart</td>
                    <td><input type="text" th:field="*{heureDepart}" /></td>
                    <td th:if="${#fields.hasErrors('heureDepart')}" th:errors="*{heureDepart}">password Error</td>
                </tr>
                
               
                 
                <tr>
                    <td>Minute depart</td>
                    <td><input type="text" th:field="*{minuteD}" /></td>
                    <td th:if="${#fields.hasErrors('minuteD')}" th:errors="minuteD">password Error</td>
                </tr>
                  <tr>
                    <td>Prix  </td>
                    <td><input type="number" th:field="*{price}" /></td>
                    <td th:if="${#fields.hasErrors('price')}" th:errors="price">password Error</td>
                </tr>
                <tr>
                    <td><button type="submit">Submit</button></td>
                </tr>
            </table>
             <div th:if="${ride != null}" class="message-info">
                Le trajet pour <span th:text="${ride.id}"/> a bien été pris en compte
            </div>
            <div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
                <p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>
            </div>
        </form>
         </div>
         </section>
         
         <script>
    $(document).ready(function () {
        $('#lieuDepart, #lieuArrive').each(
            function (i, el) {
                el = $(el);
                el.autocomplete({
                    source: function (request, response) {
                        $.ajax({
                            url: "/api/city",
                            data: {"search": el.val()},
                            success: function (data) {
                                var transformed = $.map(data, function (el) {
                                    return {
                                        label: el.name,
                                        id: el.name
                                    };
                                });
                                response(transformed);
                            },
                            error: function () {
                                response([]);
                            }
                        });
                    }
                })
            });
    })
    ;
</script>
    </body>
</html>