<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Création d'un compte utilisateur - Trajet Facile</title>
</head>
<body>
  <form action="#" th:action="@{/ride}" th:object="${bookingCreateForm}" method="post">
<section class="section">
    <div class="container">

        <table>
            <tr>
                <th>Départ</th>
                <th>Arrivée</th>
                <th>Nombre de places</th>
                <th>Prix</th>
            </tr>
            <tr th:each="ride : ${rides}">
                <td th:text="${ride.lieuDepart}"/>
                <td th:text="${ride.lieuArrive}"/>
                <td th:text="${ride.totalPlaces}"/>
                <td th:text="${ride.price}"/>
                   <td><input type="hidden" th:field="*{ride.id}" /></td>
                <td > <select th:field="*{accountId}">
                            <option
                                    th:each="account : ${accounts}"
                                    th:value="${account.id}"
                                    th:text="${account.email}"
                            ></option>
                        </select></td>
            </tr>
             <tr>
             
             </tr>
             
            
        </table>
    </div>
</section>
</form>
</body>

</html>